%section.wrapper
  %article.primary
    - @posts.each do |post|
      %p
        %h3
          = link_to post.title, post
          %br
        %cite 
          Author: 
          %strong= post.author.display_name
        %p= post.body.html_safe

        %hr.post-body-hr
  %article.secondary
    %h4 Recent Posts
    = render "layouts/sidebar"