%h1 About Me

%p
  What is this site all about? This is my personal blog where I will share experiences, knowledge gained, and sometimes just some general information regarding my journey to become a better programmer. I would not have considered writing a blog, especially one about programming, being that I am but a student.

%p
  However, I’ve listened to the advice of a few prominent members of the Ruby community who highly suggest, no matter what your level, for one to write a blog. As they say, you might be new, and learning things, but there is someone behind you that is even newer, with less experience. I think there is an added benefit of a newbie that shares his/her newly gained knowledge. For one, we are new and are close to the obstacles that a newer has. Sometimes when one has a lot of experience, they don’t understand the little things, or details that a new person is going through.

%p
  One of my goals is to pass on my newly gained knowledge while it is still fresh in my head. To help a new recruit of the Ruby Army in their quest for knowledge, while helping to reinforce my understanding. If you really want to know the ins and outs of a subject, teach that subject to someone else.