<section class="wrapper">
  <article class="primary">
    <h1>Contact Us</h1>
  </article>
  <article class="secondary">
    <h4>Recent Posts</h4>
    <%= render "layouts/sidebar" %>
  </article>
</section>