<section class="wrapper">
  <article class="primary">
    <h1>Contact Us</h1>
    <p>
      Praesent vestibulum dapibus nibh. Ut a nisl id ante tempus hendrerit. Donec id justo. Duis leo. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem.
    </p>
    <p>
      Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Quisque id mi. Aenean viverra rhoncus pede. Fusce convallis metus id felis luctus adipiscing. Suspendisse faucibus, nunc et pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus elit id tortor.
    </p>
    <p>
      Vivamus in erat ut urna cursus vestibulum. Curabitur a felis in nunc fringilla tristique. Morbi ac felis. Phasellus tempus. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo.
    </p>
  </article>
  <article class="secondary">
    <h4>Recent Posts</h4>
    <%= render "layouts/sidebar" %>
  </article>
</section>