%li.nav-link
  %a{:href => "/"} Blog
%li.nav-link
  %a{:href => "/about"} About Us
%li.nav-link
  %a{:href => "/contact"} Contact
%li.nav-link.more
  %a{:href => "javascript:void(0)"} Admin
  %ul.submenu
    %li
      %a{:href => "javascript:void(0)"} Blogs Entries
    %li
      %a{:href => "javascript:void(0)"} Categories
    %li
      %a{:href => "javascript:void(0)"} Contributors
