%li.nav-link
  %a{:href => root_path } Blog
%li.nav-link
  %a{:href => home_index_path } Home
%li.nav-link
  %a{:href => about_index_path } About Us
%li.nav-link
  %a{:href => contact_index_path } Contact

- if signed_in?
  %li.nav-link.more
    %a{:href => "#"} Admin
    %ul.submenu
      %li
        %a{:href => "javascript:void(0)"} Blogs Entries
      %li
        %a{:href => "javascript:void(0)"} Categories
      %li
        %a{:href => "javascript:void(0)"} Contributors
      %li
        %a{:href => log_out_path} Sign Out
