%li.nav-link
  %a{href: root_path } Blog
%li.nav-link
  %a{href: about_index_path } About Us
%li.nav-link
  %a{href: contact_index_path } Contact
- if signed_in?
  %li.nav-link.more
    %a{:href => "#"} Admin
    %ul.submenu
      %li
        %a{:href => post_path} Blogs Entries
      %li
        %a{:href => categories_path} Categories
      %li
        %a{:href => "#"} Contributors
      %li
        %a{:href => log_out_path} Sign Out