%header.navigation{:role => "banner"}
  .navigation-wrapper
    %a.logo{:href => "javascript:void(0)"}
      %img{:alt => "Logo Image", :src => asset_path("flex_icon.png") }/
    %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} MENU
    %nav{:role => "navigation"}
      %ul#js-navigation-menu.navigation-menu.show
        = render "layouts/navigation_links"
        = render "layouts/search_bar"